:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picker-container {
    display: flex;
    gap: 0.5rem;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

input {
    text-align: center !important;
}

mat-form-field {
    text-align: center !important;
    // min-width: unset;
    padding: 0.25rem;
    width: 4em;
    box-sizing: content-box;
    // margin: none;
    // width: 50px;
    // width: fit-content;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}