<header>
  <h1 style="margin: 0">
    @if(authStore.user()){
    {{ authStore.user()?.name }}'s }orgado
  </h1>
</header>
<div class="shortcut-btns">
  <button
    color="primary"
    (click)="openAdd()"
    class="button mat-primary"
    mat-mini-fab
  >
    <mat-icon class="mat-primary add-icon" fontIcon="add_circle"></mat-icon>
  </button>
  <a class="calendar-btn" routerLink="/calendar"
    ><button mat-mini-fab color="primary">
      <!-- Zum Kalender -->
      <mat-icon fontIcon="calendar_today"></mat-icon></button
  ></a>
</div>

@if(showCreateTodo() || overlayFadeOut()){
<div class="main-container">
  <app-overlay [class.done]="overlayFadeOut()">
    <app-create-todo (created)="fadeToBottom()"></app-create-todo>
  </app-overlay>
</div>
} @else{
<h2>Fällige Aufgaben</h2>
@for(todo of $any(todos()); track todo.user.id){
<span>{{ todo.occurance.due_at | date : "dd:MM HH:mm" }} Uhr</span>
<!-- <app-todo-card [todo]="todo.todos"></app-todo-card> -->
}
<div class="main-container todos">
  <div class="one-off-todos-container">
    <h2>Einmalige Aufgaben</h2>
    @for (todo of todosStore.oneOffTodos() ; track todo.id;) {
    <app-todo-card [todo]="todo"></app-todo-card>
    <!-- <mat-card
      class="todo-card"
    >
      <mat-card-header>
        <mat-card-title>{{ todo.title }}</mat-card-title
        >@if(todo.due_date){
        <mat-card-subtitle>
          {{ todo.due_date | date : "dd.MM.yyyy H:mm" }} Uhr</mat-card-subtitle
        >
        }
      </mat-card-header>

      <mat-card-content>{{ todo.description }}</mat-card-content>
      <mat-card-footer
        ><button (click)="deleteTodo(todo.id)" mat-button color="accent">
          Erledigt
        </button></mat-card-footer
      > </mat-card
    > -->
    }
  </div>
  <div class="repeatable-todos-container">
    <h2>Wiederholende Aufgaben</h2>
    @for (todo of todosStore.repeatableTodos() ; track todo.id) {
    <app-todo-card [todo]="todo"></app-todo-card>
    }
  </div>
  <!-- @for (todo of todos$ | async; track $index) {
  <mat-card class="todo-card">
    <mat-card-header>
      <mat-card-title>{{ todo.title }}</mat-card-title
      >@if(todo.due_date){
      <mat-card-subtitle>
        {{ todo.due_date | date : "dd.MM.yyyy H:mm" }} Uhr</mat-card-subtitle
      >
      }
    </mat-card-header>

    <mat-card-content>{{ todo.description }}</mat-card-content>
    <mat-card-footer
      ><button (click)="deleteTodo(todo.id)" mat-button color="accent">
        Erledigt
      </button></mat-card-footer
    >
  </mat-card>
  } @empty {
  <span>Erstellen Sie eine Aufgabe.</span>
  } -->
</div>
}

<!-- <button mat-mini-fab>
  <a routerLink="/home"></a>
  <mat-icon fontIcon="home"></mat-icon>
</button> -->
