<header>
  <h1 style="margin: 0">
    @if(authStore.user()){
    {{ authStore.user()?.name }}'s }orgado
  </h1>
</header>
<div class="shortcut-btns">
  <button
    color="primary"
    (click)="openAdd()"
    class="button mat-primary"
    mat-mini-fab
  >
    <mat-icon class="mat-primary add-icon" fontIcon="add_circle"></mat-icon>
  </button>
  <a class="calendar-btn" routerLink="/calendar"
    ><button mat-mini-fab color="primary">
      <!-- Zum Kalender -->
      <mat-icon fontIcon="calendar_today"></mat-icon></button
  ></a>
</div>

@if(showCreateTodo() || overlayFadeOut()){
<div class="main-container">
  <app-overlay [class.done]="overlayFadeOut()">
    <app-create-todo (created)="fadeToBottom()"></app-create-todo>
  </app-overlay>
</div>
} @else{
<!-- <div class="todo-selection-container">
  <select
    class="category-select"
    name=""
    #viewCategoryControl="ngModel"
    [(ngModel)]="viewCategory"
    value="due-tasks"
    id=""
  >
    <option value="due-tasks">Fällige Aufgaben</option>
    <option value="repeatable">Wiederholende Aufgaben</option>
    <option value="one-off">Einmalige Aufgaben</option>
    <option value="completed">Erledigt</option>
  </select>
</div> -->
<div class="todo-view-container">
  <app-todo-view [displayKind]="showTodoCategory()"></app-todo-view>
</div>

}
