:host {
  bottom: 0;
  right: 10%;
  //   width: 300px;
  //   height: 500px;
  position: fixed;

  &:hover,
  :focus {
    .minify-chat-btn {
      opacity: 1;
    }
  }
}

.chat-container {
  //   position: fixed;
  //   bottom: 0;
  //   right: 10%;
  width: 300px;
  height: 500px;
  background-color: #0c5ec3;
  border: 4px solid rgb(28, 34, 120);
}

.chat-container {
  //   height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px 30px 0 0;
}

.message-box-container {
  margin-top: auto;
  position: relative;
  //   width: 100%;
  //   height: 100px;
  width: 100%;

  .message-box {
    height: 100px;
    padding: 0.25rem;
    font-size: 1.2rem;
    padding-right: 100px;
    //   position: absolute;
    width: 100%;
    font-family: Helvetica;
    resize: none;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff #0c5ec3;
  }

  .submit-message-btn {
    position: absolute !important;
    right: 1rem;
    // word-break: break-all;
    white-space: break-word;
    padding: 0.75rem;
    bottom: 50%;
    transform: translate(0, 50%);
    // bottom: 1.5rem;
  }
}

.messages-container {
  padding-top: 1rem;
  min-height: 200px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: chartreuse #d4d4d4;
}

.minified {
  margin-bottom: 3rem;
}

.minify-chat-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: #fff;
  opacity: 0.25;
}

.text-message-container {
  padding: 0 1.25rem;

  .chat-message {
    color: #fff;
    max-width: 100%;
    white-space: break-word;
    word-wrap: break-word;
  }

  margin: 0.75rem 0;
}
