@if(minified()){
<button color="primary" mat-fab (click)="minified.set(false)" class="minified">
  <mat-icon fontIcon="chat"></mat-icon>
</button>
} @else{
<div class="chat-container">
  <div class="messages-container">
    @for(message of messages();track message){
    <div class="text-message-container">
      <span>{{ message.user }}</span
      ><br />
      <span class="chat-message">{{ message.chatMessage }}</span>
    </div>
    }
  </div>
  <div class="message-box-container">
    <textarea
      spellcheck="false"
      class="message-box"
      #currentMessageField
      [(ngModel)]="currentMessage"
      name=""
      id=""
    ></textarea>
    <button
      (click)="sendCurrentMessage()"
      mat-stroked-button
      class="submit-message-btn"
    >
      schicken
    </button>
  </div>
  <button class="minify-chat-btn" (click)="minified.set(true)" mat-mini-fab>
    <mat-icon class="mat-primary" fontIcon="arrow_downward"></mat-icon>
  </button>
</div>
}
