table {
    height: 100%;
    width: 100%;
    padding: 4rem 1rem 2rem;
}

tr {
    background-color: rgb(196, 213, 251);
    // padding: 2rem 0.25rem;
    border-bottom: 1px solid #fff;

    td {
        // padding: 1rem;
    }
}