table {
  // height: 100%;
  flex: 1;
  width: 100%;
  padding: 4rem 1rem 2rem;
}

tr {
  //   background-color: rgb(196, 213, 251);
  // padding: 2rem 0.25rem;
  //   border-bottom: 1px solid #fff;

  td {
    // padding: 1rem;
  }
}

table {
  border-spacing: 0px 20px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #ffffff16;
  //   border-top-right-radius: 1rem;
  border-radius: 1rem;
  //   overflow: hidden;

  thead {
    th {
      padding: 0.75rem;
    }
  }

  tr {
    td {
      vertical-align: top;
    }

    .tasks-container {
      min-height: 100%;
      padding-top: 1rem;
      color: black;
      font-size: smaller;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-basis: 100%;
      gap: 0.5rem;
      height: 100%;
    }
  }
}

th,
td {
  // height: 100%;
  border: none;
  border-left: 2px solid goldenrod;
  border-right: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
}

th {
  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.table-container {
  padding: 50px 50px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.settings-container {
  position: absolute;
  right: 2rem;
  top: 2rem;

  mat-icon {
    --size: 3.5rem;
    font-size: var(--size);
    height: var(--size);
    width: var(--size);
    transition: all 200ms;
    cursor: pointer;

    &:hover {
      color: #fff;
      transform: scale(1.2);
    }
  }
}

.todo {
  transition: all 100ms;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #8fb87dca;

  &:hover {
    transform: scale(1.2);

    background-color: palegoldenrod;

    &.one-off {
    }
  }
}
.isFirst {
  background-color: red;
  position: relative;
  .first-timeframe-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: aquamarine;
    transform: translateY(-100%);
  }
}
.isLast {
  background-color: blue;
  position: relative;
  .last-timeframe-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    // width: 1rem;
    width: 2px;
    background-color: aquamarine;
    transform: translateY(-100%);
  }
}

.tasks-container {
  &:has(.isFirst) {
    // background-color: aqua;
  }
}
