<!-- <table>
  @for(timeFrameVal of timeFrameValues();track $index){
  <tr>
    <td>{{ timeFrameVal.timeStr }}</td>
    @for(todo of timeFrameVal.oneOffTodos;track todo.id){
    <td>{{ todo.title }}</td>
    } @for(todo of timeFrameVal.repeatableTodos;track todo.id){
    <td style="background-color: palegoldenrod">{{ todo.title }}</td>
    }
  </tr>
  }
</table> -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        @for(timeFrameVal of timeFrameValues();track $index){

        <th>{{ timeFrameVal.timeStr }}</th>

        }
      </tr>
    </thead>
    <tbody>
      <tr>
        @for(timeFrameVal of timeFrameValues();track $index){
        <td>
          <div class="tasks-container">
            @for(todo of timeFrameVal.oneOffTodos;track todo.id){
            {{ todo.title }}
            } @for(todo of timeFrameVal.repeatableTodos;track todo.id){
            <td style="background-color: palegoldenrod">{{ todo.title }}</td>
            }
          </div>
        </td>
        }
      </tr>
    </tbody>
  </table>
</div>
