<form (ngSubmit)="onSubmit()" [formGroup]="editTodoForm">
  <div class="buttons-bar">
    <button
      type="button"
      (click)="resetChanges()"
      mat-mini-fab
      aria-label="Änderungen verwerfen"
      title="Änderungen verwerfen"
    >
      <mat-icon fontIcon="undo"></mat-icon>
    </button>
    <button
      type="button"
      (click)="deleteTodo(todoInEdit()!.id)"
      mat-mini-fab
      aria-label="Aufgabe löschen"
      title="Aufgabe löschen"
    >
      <mat-icon fontIcon="delete_forever"></mat-icon>
    </button>
  </div>
  <h4>Aufgabe bearbeiten</h4>
  <mat-form-field appearance="outline" spellcheck="false">
    @if(controlsInEdit().title.editable ){ @if(!controlsInEdit().title.inEdit){
    <div (click)="doEdit('title')" class="edit-icon">
      <mat-icon fontIcon="edit"></mat-icon>
    </div>
    } @else {
    <div class="edit-icon">
      <mat-icon (click)="undo('title')" fontIcon="undo"></mat-icon>
      <mat-icon (click)="confirm('title')" fontIcon="check_circle"></mat-icon>
    </div>
    } }
    <mat-label>Titel</mat-label>
    <input
      [appReadonlyControl]="controlsInEdit()"
      matInput
      formControlName="title"
      type="text"
      name="title"
      id="title"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    @if(controlsInEdit().description.editable ){
    @if(!controlsInEdit().description.inEdit){
    <div (click)="doEdit('description')" class="edit-icon">
      <mat-icon fontIcon="edit"></mat-icon>
    </div>
    } @else {
    <div class="edit-icon">
      <mat-icon (click)="undo('description')" fontIcon="undo"></mat-icon>
      <mat-icon
        (click)="confirm('description')"
        fontIcon="check_circle"
      ></mat-icon>
    </div>
    } }
    <mat-label>Beschreibung</mat-label>
    <textarea
      matInput
      [appReadonlyControl]="controlsInEdit()"
      formControlName="description"
      type="text"
      name="desc"
      id="description"
    ></textarea>
  </mat-form-field>
  @if(todoInEdit()?.repeatable){
  <!-- <mat-checkbox readonly formControlName="repeatable">wiederholen</mat-checkbox> -->
  <div class="is-repeatable">wiederholende Aufgabe</div>
  } @else { nicht wiederholende Aufgabe } @if(!todoRepeatable()){
  <mat-form-field appearance="outline">
    @if(controlsInEdit().due_date.editable ){
    @if(!controlsInEdit().due_date.inEdit){
    <div (click)="doEdit('due_date')" class="edit-icon">
      <mat-icon fontIcon="edit"></mat-icon>
    </div>
    } @else {
    <div class="edit-icon">
      <mat-icon (click)="undo('due_date')" fontIcon="undo"></mat-icon>
      <mat-icon
        (click)="confirm('due_date')"
        fontIcon="check_circle"
      ></mat-icon>
    </div>
    } }
    <mat-label>Fällig</mat-label>

    <input
      formControlName="due_date"
      [appReadonlyControl]="controlsInEdit()"
      matInput
      [matDatepicker]="dueDateDp"
    />

    <mat-datepicker #dueDateDp></mat-datepicker>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="dueDateDp"
    ></mat-datepicker-toggle>
  </mat-form-field>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Uhrzeit</mat-label>
      <input
        (focus)="showTimepicker.set(true)"
        matInput
        [value]="editTodoForm.get('due_time')?.value"
        readonly="true"
      />
    </mat-form-field>
    <div
      class="form-group"
      [style.display]="showTimepicker() ? 'flex' : 'none'"
    >
      <app-timepicker
        (done)="showTimepicker.set(false)"
        class="picker"
        formControlName="due_time"
      ></app-timepicker>
    </div>
  </div>
  } @if(todoRepeatable()){
  <div class="cron-tabs-container">
    @for(tab of tabs();track tab){
    <button
      class="cron-tab"
      [class.active]="tab === selectedCronTab()"
      (click)="selectedCronTab.set(tab)"
    >
      {{ tab }}
    </button>
    }
  </div>
  @for(schedule of $any(todoInEdit()).repeatableTodoSchedules;track
  schedule.id){
  <app-cron-input
    [style.display]="selectedCronTab() === $index + 1 ? 'inline' : 'none'"
    [cronString]="schedule.cron_schedule"
  ></app-cron-input>
  }
  <div formArrayName="schedules" class="todo-schedules">
    <!-- @for(s of schedules.controls; track $index ){
    <div class="added-schedule-container">
      <div class="added-schedule-header">
        <span>Zeit: {{ s.value.time }}</span
        ><span>
          <div class="remove-schedule-icon">
            <mat-icon
              (click)="removeScheduleAt($index)"
              fontIcon="remove_circle"
            ></mat-icon>
          </div>
        </span>
      </div>

      <div class="selected-weekdays">
        <mat-checkbox disabled="" [checked]="s.value.days.mo">Mo</mat-checkbox>
        <mat-checkbox disabled="" [checked]="s.value.days.di">Di</mat-checkbox>
        <mat-checkbox disabled="" [checked]="s.value.days.mi">Mi</mat-checkbox>
        <mat-checkbox disabled="" [checked]="s.value.days.do">Do</mat-checkbox>
        <mat-checkbox disabled="" [checked]="s.value.days.fr">Fr</mat-checkbox>
        <mat-checkbox disabled="" [checked]="s.value.days.sa">Sa</mat-checkbox>
        <mat-checkbox disabled="" [checked]="s.value.days.so">So</mat-checkbox>
      </div>
    </div>

    } -->
  </div>
  <!-- <div class="weekdays-selection" formGroupName="weekdaysForm">
    <span>Wählen Sie Wochentage und Uhrzeit aus.</span>

    <div class="weekdays" formGroupName="days">
      <mat-checkbox formControlName="mo">Mo</mat-checkbox>
      <mat-checkbox formControlName="di">Di</mat-checkbox>
      <mat-checkbox formControlName="mi">Mi</mat-checkbox>
      <mat-checkbox formControlName="do">Do</mat-checkbox>
      <mat-checkbox formControlName="fr">Fr</mat-checkbox>
      <mat-checkbox formControlName="sa">Sa</mat-checkbox>
      <mat-checkbox formControlName="so">So</mat-checkbox>
    </div>

    <mat-checkbox #dailyCheckbox>täglich</mat-checkbox>
    <div
      class="schedule-timepicker-container"
      [style.display]="showScheduleTimePicker() ? 'flex' : 'none'"
    >
      <app-timepicker
        (done)="showScheduleConfirmation()"
        formControlName="time"
      ></app-timepicker>
    </div>
    @if(confirmSchedule() === true){
    <div class="confirm">
      <span>Bestätigen?</span>
      <button type="button" class="confirm" (click)="onScheduleSelected()">
        <span>ja</span>
      </button>
      <button type="button" class="abort" (click)="confirmSchedule.set(false)">
        <span>zurück</span>
      </button>
    </div>
    } @if(!showScheduleTimePicker() ) {
    <mat-form-field
      class="selected-schedule-time"
      (click)="
          showScheduleTimePicker.set(true)
      "
    >
      <mat-label>Uhrzeit</mat-label>
      <input matInput formControlName="time" readonly="" />
    </mat-form-field>
    }
  </div> -->
  }
  <div class="timestamps">
    <div class="created-at">
      <span>Erstellt am:</span>
      <span>
        {{ todoInEdit()?.created_at | date : "dd.MM.yyyy HH:mm" }} Uhr</span
      >
    </div>
    <div class="updated_at">
      <span>Zuletzt bearbeitet:</span>
      <span>
        {{ todoInEdit()?.updated_at | date : "dd.MM.yyyy HH:mm" }} Uhr</span
      >
    </div>
  </div>
  <!-- <mat-form-field>
        <mat-label style="text-align: center; width: fit-content">Wie oft?</mat-label>
        <input min="1" max="4" type="number" name="" id="" matInput />
    </mat-form-field>
    <mat-radio-group>
        <mat-radio-button>Täglich</mat-radio-button>
        <mat-radio-button>Wöchentlich</mat-radio-button>
        <mat-radio-button>Monatlich</mat-radio-button>
    </mat-radio-group> -->

  <button
    [disabled]="showScheduleTimePicker() === true"
    mat-stroked-button
    color="primary"
    [disabled]="!editTodoForm.valid"
  >
    Änderungen speichern
  </button>
</form>
