/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Primary brand color - e.g. deep blue */
    --primary-100: hsl(220, 100%, 90%);
    --primary-500: hsl(220, 100%, 50%);
    --primary-900: hsl(220, 100%, 20%);
    --primary-100: hsl(215, 50%, 93%);
    // --primary-100: hsl(213, 100%, 50%);
    --primary-500: hsl(215, 50%, 53%);
    --primary-900: hsl(215, 50%, 23%);

    /* Accent color - e.g. coral */
    --accent-100: hsl(16, 100%, 90%);
    --accent-500: hsl(16, 100%, 50%);
    --accent-900: hsl(16, 100%, 20%);

    /* Neutral grays */
    --neutral-100: hsl(220, 10%, 90%);
    --neutral-500: hsl(220, 10%, 50%);
    --neutral-900: hsl(220, 10%, 20%);
    // --neutral-100: hsl(105, 55%, 96%);
    // --neutral-500: hsl(105, 55%, 56%);
    // --neutral-900: hsl(105, 55%, 26%);

    /* Success states - e.g. green */
    --success-100: hsl(142, 70%, 90%);
    --success-500: hsl(142, 70%, 50%);
    --success-900: hsl(142, 70%, 20%);

    /* Error states - e.g. red */
    --error-100: hsl(0, 70%, 90%);
    --error-500: hsl(0, 70%, 50%);
    --error-900: hsl(0, 70%, 20%);

    --background-color: rgb(171, 77, 40);
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--neutral-900);
    // font-family: Helvetica, sans-serif, "Courier New", Courier, monospace;
    font-family: Helvetica;
    // min-height: calc(100vh + env(safe-area-inset-top));
    height: 100vh;
    // min-height: 100lvh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    // overflow: hidden;
}

.from-bottom {
    animation: from-bottom 500ms forwards;
}

@keyframes from-bottom {
    0% {
        transform: translate(0, 500px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.to-bottom {
    animation: to-bottom 500ms forwards;
}

@keyframes to-bottom {
    100% {
        transform: translate(0, 500px);
        opacity: 0;
    }

    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-panel {
    overflow: auto;
}

.cdk-overlay-container {}

.mat-dialog-backdrop {
    background-color: rgba(175, 255, 96, 0.419);
    backdrop-filter: blur(0.2rem);

    // .mat-dialog-container {
    //     background-color: red;
    // }
}